<template>
<sidebar/>

    <div class="container-fluid col-lg-8">
        <div class="search">
                <div class="content mx-auto position-relative">
                    <form action="active">
                        <div class="form mb-4 col-md-10 col-lg-8">
                            <input type="text" placeholder="Search" aria-describedby="button-addon" class="form-control"/>
                        </div>
                    </form>
                </div>
        </div>

                <div class="group-right">
                    <div class="heading">
                        <h1 class="text">All Songs</h1>
                    </div>

                    <table class="table table-dark">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Artist</th>
                                <th scope="col">Album</th>
                                <th scope="col">Duration</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>FEVER</td>
                                <td>ENHYPEN</td>
                                <td>BORDER: CARNIVAL</td>
                                <td>02:52</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>DUMB DUMB</td>
                                <td>SOMI</td>
                                <td>DUMB DUMB</td>
                                <td>02:29</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Yours</td>
                                <td>Raiden & CHANYEOL</td>
                                <td>Yours</td>
                                <td>03:55</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>Fiction</td>
                                <td>sumika</td>
                                <td>Fiction e.p</td>
                                <td>03:53</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
    </div>

     

</template>

<script>
import Sidebar from './Sidebar.vue'
export default {
  components: { },

  name: 'MusicBody',
  props: {
      Sidebar
  }
}
</script>

<style scoped>
    .MusicBody { 
        display: flex;
        height: 100%;
        max-width: auto;
    }

    .table tr:hover td {
    color: green;
    cursor: pointer;
    }

    .group-right {
        max-width: auto;
    }

    .container-fluid {
        margin-top: -50px;
    }

    .search {
        padding-top: 10px;
        margin-top: -20px;
        border-color: black;
    }
    .content {
        height: auto;   
    }

    .form-control::placeholder {
        font-size: 0.85rem;
        color: black;
        font-style: normal;
    } 

    .heading {
        text-align: left;
        padding-top: 3.25rem;
        padding-bottom: 3rem;
    }

    .table {
        text-align: left;
    }

    .placeholder {
        text-align: center;
    }


   

</style>