<template>
    <div class="container-fluid col-lg-6">
        <div class="progress">
            <progress class="progress-bar bg-success" role="progressbar" min="0" max="100"></progress>
        </div>

        <div class="controls" style="font-size: 1rem;">      
                    <img class="music-controls-items" src="../assets/fast_rewind_black_24dp.svg">
                    <img class="music-controls-items" src="../assets/play_arrow_black_24dp.svg">
                    <img class="music-controls-items" src="../assets/fast_forward_black_24dp.svg">
        </div>
    </div>
</template>

<script>
export default {
  name: 'MusicControls'
}
</script>

<style scoped>
.music-controls-items{
    padding-top: 1rem;
    height: 80px;
    margin: 1.5rem;
    justify-content: space-between;
}
.music-controls-items:hover {
    background: green;
    cursor: pointer;
}

</style>