<template>

  <div class="sidebar-nav">
            <nav id="sidebar">
            <div class="container">
        <div class="d-flex justify-content-center">
            <img class="img fluid" src="../assets/naatsuu.png">  
        </div>
            
        <div class="button-container">
          <button type="button" v-on:click="openUpload" class="main-button"> Upload Music</button>
        
          <button type="button" class="main-button"> All Songs</button>
            
          <button type="button" v-on:click="openCreate" class="main-button"> Create Playlist</button>
          <br>
          <br>
          <button type="button" class="sub-button"> Playlist  1</button>
          <button type="button" class="sub-button"> Playlist</button>
          <button type="button" class="sub-button"> Playlist</button>
          </div>
          </div>
          </nav>
    </div>
    
    <div id="modal1" class="modal-upload" aria-hidden="true">
        <div class="upload-box-container">
              <div class="upload-box">
                  <div class="modal-header">
                      <h5 class="modal-title" id="modal1title">Upload Music</h5>
                      <button type="button" class="btn-close" v-on:click="cancelUpload" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <form action="active">
                          <div class="form mb-4">
                              <input type="text" placeholder="Drag and Drop files here" aria-describedby="button-addon" class="form-control border-info"/>
                          </div>
                     </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary">Upload</button>
                      <button type="button" class="btn btn-secondary" v-on:click="cancelUpload" data-bs-dismiss="modal">Cancel</button>    
                  </div>
            </div>
        </div>
     </div>

     <div id="modal2" class="modal-create" aria-labelledby="modal2title" aria-hidden="true">
        <div class="create-box-container">
            <div class="create-box">
                <div class="modal-header">
                      <h5 class="modal-title" id="modal2title">Create Playlist</h5>
                      <button type="button" class="btn-close" v-on:click="cancelCreate" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <form>
                            <div class="form mb-4">
                                <input type="text" placeholder="" aria-describedby="button-addon" class="form-control border-info"/>
                            </div>
                      </form>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-primary">Create</button>
                      <button type="button" class="btn btn-secondary" v-on:click="cancelCreate" data-bs-dismiss="modal">Close</button>    
                  </div>
              </div>
          </div>
      </div>

</template>

<script>
export default {
  name: 'Sidebar',
  methods:{
      openUpload(){
           document.getElementById("modal1").style.visibility = "visible";
      }
      ,cancelUpload() {
            document.getElementById("modal1").style.visibility = "hidden";
  }
      ,openCreate() {
           document.getElementById("modal2").style.visibility = "visible";
  }
      ,cancelCreate() {
            document.getElementById("modal2").style.visibility = "hidden";
  }

}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
#sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    height: 100vh;
    z-index: 999;
    background: #B8BAAD;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}
.sidebar-nav {
  margin-block-start: initial;
}
.button-container {
    display: flex;
    flex-direction: column;
    padding-top: 4.5rem;
    
}
.main-button, .sub-button {
    font-family: 'Roboto', sans-serif;
    background: #B8BAAD;
    border: none;
    color: black;
    text-align: left;
    font-size: 1rem;
    font-weight: normal;
    padding: 20px 0;
    padding-left: 40px;
    transition: 0.1s;
}
.main-button:hover, .sub-button:hover{
  color: green;
}

.img {
  padding-top: 1rem;
  width: 148px;
  height: 46px;
}

.modal-upload {
    visibility: hidden;
}

.upload-box-container {
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.upload-box {
    display: flex;
    flex-direction: column;
    background: white;
    margin: auto;
    height: 50vh;
    width: 40vw;
}

.modal-body {
    font-weight: 400;
    color: white;
    text-align: center;;
}

input{
    text-align: center;
    background: whitesmoke;
    border: none;
    height: 20vh;

}

.modal-create {
    visibility: hidden;
}

.create-box-container {
    display: flex;
    align-items: center;
    justify-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.create-box {
    display: flex;
    flex-direction: column;
    background: white;
    margin: auto;
    height: 50vh;
    width: 40vw;
}


</style>
