<template>
  <sidebar/>
  <music-body/>
  <music-controls/>
</template>

<script>
import MusicBody from './components/MusicBody.vue'
import MusicControls from './components/MusicControls.vue'
import Sidebar from './components/Sidebar.vue'


export default {
  name: 'App',
  components: {
    Sidebar,
    MusicBody,
    MusicControls,
   
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: black;
  margin-top: 60px;
}

@media screen and (min-width: 428px) {
    .container-fluid {
        display: fixed;
        
    }


}

</style>
